/* your code */
table{
	border-collapse:collapse;
	width:100%;
	border-radius: 10px; 
	overflow: hidden; 
}
th{
	background-color:royalblue;
}
th,td{
	padding:8px;
	font-size:12px;
	
}
tr:nth-child(odd){
	background-color:lightgray;
}